<h2>Edit A Figure</h2>

<form method="POST" action="/figures/<%= @figure.id %>">
  <input type="hidden" name="_method" value="PATCH" />
  <div>
      <h1>Name:</h1>
          <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>"/>
  </div>
  <div>
      <h1>Titles:</h1>
          <% @titles.each do |title|%>
              <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"><%=title.name%></input>
          <% end %>
  </div>
  <div>
      <h1>Create a new Title:</h1>
          <h2>Name:</h2>
              <input type="text" name="title[name]" id="new_title" />
  </div>
  <div>
      <h1>Landmarks:</h1>
          <% @landmarks.each do |landmark|%>
              <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>"><%=landmark.name%></input>
          <% end %>
  </div>
  <div>
      <h1>Create a new Landmark:</h1>
          <h2>Name:</h2>
              <input type="text" name="landmark[name]" id="new_landmark" />
          <h2>Year Completed:</h2>
              <input type="integer" name="landmark[year_completed]" id="year_completed" />
  </div>


  <input type="submit" value="Edit Figure" />
</form>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
